@import "tailwindcss";


@tailwind base;
@tailwind components;
@tailwind utilities;


/* Apply the font globally */
body {
  font-family: 'Plus Jakarta Sans', sans-serif;
  background-color: #F9FAFB;
  color: #111111;
  -webkit-font-smoothing: antialiased;
}

/* Create a class for your Bold Headers (Logo, Hero Title) */
.font-display {
  font-family: 'Space Grotesk', sans-serif;
}